node-red-contrib-cpu_example/flow_cpu_example.json
[{"id":"34a551d6.e1ccae","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"875f76d6.2a7218","type":"inject","z":"34a551d6.e1ccae","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":83,"y":86,"wires":[["45d04ff0.51fd5"]]},{"id":"45d04ff0.51fd5","type":"cpu","z":"34a551d6.e1ccae","name":"","msgCore":true,"msgOverall":false,"x":253,"y":82,"wires":[["dcaf9c94.34717","64cd86e2.474c68"]]},{"id":"232f0cb1.d4eb64","type":"debug","z":"34a551d6.e1ccae","name":"Core 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":100,"wires":[]},{"id":"93756dda.dc4f8","type":"debug","z":"34a551d6.e1ccae","name":"Core 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":160,"wires":[]},{"id":"823ff42c.5379e8","type":"debug","z":"34a551d6.e1ccae","name":"Core 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":220,"wires":[]},{"id":"4294a1b2.81f24","type":"debug","z":"34a551d6.e1ccae","name":"Core 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":300,"wires":[]},{"id":"2d24fe7a.e934e2","type":"comment","z":"34a551d6.e1ccae","name":"4 cores","info":"It returns 4 msg objects.","x":230,"y":120,"wires":[]},{"id":"c846ccf1.d3037","type":"comment","z":"34a551d6.e1ccae","name":"Display individual object","info":"I want to display each object to individual debug node.","x":660,"y":360,"wires":[]},{"id":"dcaf9c94.34717","type":"switch","z":"34a551d6.e1ccae","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"core_1","vt":"str"},{"t":"eq","v":"core_2","vt":"str"},{"t":"eq","v":"core_3","vt":"str"},{"t":"eq","v":"core_4","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":240,"y":320,"wires":[["232f0cb1.d4eb64"],["93756dda.dc4f8"],["823ff42c.5379e8"],["4294a1b2.81f24"]]},{"id":"64cd86e2.474c68","type":"debug","z":"34a551d6.e1ccae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":40,"wires":[]}]